:root {
  --text: #9ca3af;
  --text-h: #f3f4f6;
  --bg: #16171d;
  --border: #2e303a;

  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
  color: var(--text);
  background: var(--bg);
}

body {
  margin: 0;
}

#root {
  min-height: 100vh;
}

h1 {
  color: var(--text-h);
  font-size: 56px;
}